@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
    margin: 0;
    font-family: 'Inter';
}

header {
    position: sticky;
    top: 0;
    /* z-index: 1000; */
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-bottom: 2px solid lightgray;
    background-color: white;
}

#logo-btn,
#header-profile {
    width: 160px;
}

#logo-btn {
    margin: 10px 0;
    text-decoration: none;
}

#logo-text {
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
}

#dummy-search {
    flex-grow: 1;
    height: 40px;
    max-width: 700px;
    box-sizing: border-box;
    line-height: 30px;
    padding: 5px 10px;
    color: gray;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 1000px;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);
}

#header-profile {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px 10px;
}

#profile-username {
    font-size: 16px;
    font-weight: bold;
    border: 2px solid gray;
    border-radius: 1000px;
    padding: 5px 10px;
}

#content-div {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 25px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#sidebar-div {
    width: 300px;
    height: 600px;
    background-color: lightgray;
    position: sticky;
    top: 90px;
}

#posts-list-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-sep {
    width: 500px;
    margin: 7px;
    box-sizing: border-box;
    padding: 0 100px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.post-item {
    text-decoration: none;
    width: 500px;
    padding: 25px 25px;
    background-color: white;
    border-radius: 12px;
}

.post-item:hover {
    background-color: rgb(245, 245, 245);
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-title {
    margin: 0;
    font-size: 23px;
    font-weight: bold;
    color: black;
}

.post-author {
    text-decoration: none;
    font-size: 14px;
    color: darkgray;
}

.post-author-name {
    color: gray;
}

.post-author:hover {
    text-decoration: underline;
    color: rgb(70, 150, 190);
}

.post-author:hover .post-author-name {
    color: inherit;
}

.post-content {
    font-size: 16px;
    color: rgb(75, 75, 75);
    margin: 17px 0 10px 0;
}

.post-bottom {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.post-comment-count {
    font-size: 16px;
    color: gray;
}

.dropdown-menu{
    display: none;
    position: absolute;
    right: auto;
    top: 100%;
    background-color: white;
    border: 2px solid grey;
    border-radius: 1000px;
    z-index: 10;
}

.dropdown-menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 1000px;
}

.dropdown-menu a:hover{
    background-color: aquamarine;
    border-radius: 1000px;
}

#header-profile:hover .dropdown-menu{
    display:block;
}