body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.post {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post-title {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.post-content {
    font-size: 16px;
    color: #555;
}

.user{
    font-size: 13px;
}

.comments {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comments-title {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.comment {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.comment-content {
    font-size: 14px;
    color: #444;
    margin: 0;
}
.profile-link {
    text-decoration: none;
    color: inherit; 
}
.profile-link:hover{
    color: blue; 
}