body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.report-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid grey;
    background-color: #fff;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

select, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #8DD7BF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4DD091;
}


