<!DOCTYPE html>
<html>
  <head>
    <title>Game Lore Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createPost.css') }}" />
  </head>
  <body>
    {% include 'nav.html' %}
    <main class="main-wrapper">
      <div name="content">
          <form action="/create" method="post">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          <input type="title" name="title" placeholder="Title of Post" />
          <textarea type="text" name="postContent" placeholder="Type something..." ></textarea>
          <button type="submit" name="submit">Submit</button>
          </form>
      </div>
    </main>
  </body>
</html>


