<!DOCTYPE html>
<html>
  <head>
    <title>Game Lore Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
  </head>
  <body>
    <div class="homeContent">
        <h1>Welcome to the website where you can share video game lore!</h1>
        <div class="buttonContainer">
            <a href="{{ url_for('loginPage') }}" class="button">Log In</a>
            <a href="{{ url_for('signUpPage') }}" class="button">Sign Up</a>
        </div>
    </div>
</body>
</html>
