<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lore Feed</title>
    <script src="{{ url_for('static', filename='js/feed.js') }}" async></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/nav.css') }}"
    />
  </head>
  <body>
    <header>
      <a id="logo-btn" href="/">
        <span id="logo-text">Lore App 🤷🏻‍♂️</span>
      </a>
      <div id="dummy-search">dummy search bar</div>
      <a href="/create"> click </a>
      <div id="header-profile">
        <span id="profile-username">{{ username }}</span>
        <div class="dropdown-menu">
          <a href="{{ url_for('logOut') }}">Profile</a>
          <a href="{{ url_for('logOut') }}">Log out</a>
        </div>
      </div>
    </header>
  </body>
</html>
