<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/nav.css') }}"
    />
  </head>
  <body>
    <header>
      <a id="logo-btn" href="/">
        <span id="logo-text">Lore App 🤷🏻‍♂️</span>
      </a>
      {#<!-- <div id="dummy-search">dummy search bar</div> -->#}
      <div id="search-container">
        <form method="GET">
          <select id="search-type" name="searchType">
            <option value="content">By Content</option>
            <option value="user">By User</option>
          </select>
          <input
            type="text"
            id="search-input"
            name="searchTerm"
            placeholder="Search here..."
          />
          <button type="submit" id="search-btn">Search!</button>
        </form>
      </div>
      <div id="header-right">
        <a href="/create" id="header-create-btn"> Post! </a>
        <div id="header-profile">
          <span id="header-profile-username">{{ username }}</span>
          <div class="dropdown-menu">
            <a href="/profile/{{username}}/comments">Profile</a>
            {% if role == "moderator" %}
                <a href="/reports">Reports</a>
            {% endif %}
            <a href="{{ url_for('logOut') }}">Log out</a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
