<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/post.css') }}"
    />
    <title>Post with Comments</title>
  </head>
  <body>
    {% with currentUser=currentUser %} {% include 'nav.html' %} {% endwith %} {%
    include 'post.html' %}

    <div class="comments">
      <h2 class="comments-title">Comments</h2>
      {% for comment in comments %} {% include 'comment.html' %} {% endfor %}
    </div>
    <form action="/submit" method="post">
      <input type="text" name="user_input" placeholder="Type something..." />
      <input type="hidden" name="post_id" value="{{ post_id }}" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
