<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/post.css') }}"
    />
    <title>Post with Comments</title>
  </head>
  <div class="post">
    <h1 class="post-title">{{ post.title }}</h1>
    <a href="/profile/{{post.user}}/comments">
      <h2 class="user">{{post.user}}</h2>
    </a>
    <p class="post-content">{{post.content}}</p>
    {% if username == post.user or role == 'moderator' %} {% with type = "Post", route = "post" %} {%
    include 'delete.html' %} {% endwith %} {% endif %}
  </div>
</html>
