<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Profile</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="profile-container">
      <div class="user-header">
        <h1>{{username}}</h1>
      </div>
      <div class="user-links">
        <a href="/profile/{{profile_name}}/comments">Comments</a>
        <a href="/profile/{{profile_name}}/posts">Posts</a>
      </div>
    </div>
  </body>
</html>
