<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
  </head>
  <body>
    <div>
      <div>
        <h1>Username</h1>
        <h>{{username}}</h>
      </div>
      <div>
        <div>
          <h1>Posts</h1>
          <h>post stuff</h>
        </div>
        <div>
          <h1>Comments</h1>
          <h>Comment Stuff</h>
        </div>
      </div>
    </div>
  </body>
</html>
