<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Submitted</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reportSuccess.css') }}">
</head>
<body>
    <h2>Thank you for your report!</h2>
    <p>Your report has been successfully submitted. Our moderators will review the results accordingly.</p>
    <a href="/"><button>Return to Home</button></a>
</body>
</html>
