<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <main>
        <section>
            <form action="/signUp" method="post" class="authForm">
                <h1 class="formHeader">Sign Up</h1>
                <!-- <label for="email">Email Address</label><br> -->
                <input type="text" id="email" name="email" placeholder="Email Address"><br>
                <!-- <label for="username">Username</label><br> -->
                <input type="text" id="username" name="username" placeholder="Username"><br>
                <!-- <label for="password">Password</label><br> -->
                <input type="password" id="password" name="password" placeholder="Password"><br>
                <!-- <label for="confirmPassword">Confirm Password</label><br> -->
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password"><br>
                {% if error %}
                    <p class="errorMessage">{{ error }}</p>
                {% endif %}
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>
</body>